.contacts-content {
    display: flex;
    flex-direction: column;
    padding: 100px;
    min-height: 560px;
}

h2 {
    font-size: 16px;
    line-height: 10px;
}

.contacts-content span {
    margin-bottom: 1em;
}

.phone span:nth-child(2) {
    margin-left: 5px;
    font-size: 10px;
}

.phone {
    display: flex;
}


