* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  min-height: 100vh;
  margin: 0;
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #eae9f2;
}

.container {
  min-width: 800px;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/*------------------header------------------*/
.header {
  margin-bottom: 20px;
  color: #333333;
  min-height: 110px;
}

.header .container {
  min-height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header a {
  font-size: 16px;
  line-height: 24px;
}

.title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.logo {
  margin-left: 100px;
} 

.menu {
  margin-right: 100px;
}

.menu ul {
  display: flex;
  background-color: #eae9f2;
  padding-left: 0;
  list-style: none; 
  margin: 0 auto;
}

.menu a {
  position: relative;
  padding: 1em;
  display: block;
  color: #000000;
  text-decoration: none;
}

.menu a:hover {
  background-color: #79797e;
  color: #ffffff;
  transition: .5s;
}

.menu ul li:nth-child(1), 
.menu ul li:nth-child(2), 
.menu ul li:nth-child(3) {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu ul li:nth-child(1) a:active, 
.menu ul li:nth-child(2) a:active, 
.menu ul li:nth-child(3) a:active {
  top: .1em;
  left: .1em;
}
/*-----------------------------------------*/

/*------------------main-------------------*/
.main {
  margin-bottom: 20px;
  min-height: 560px;
}

.content {
  min-height: 560px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
}

.content-title {
  font-size: 22x;
  line-height: 20px;
}

/*-----------------------------------------*/

/*-------------------footer------------------*/
.footer .container {
  display: flex;
  justify-content: space-around;
  padding: 6px;
  background-color: #79797e;
  color: #ffffff;
}

.contacts ul, .footer-nav ul  {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  list-style: none; 
  margin: 0 auto;
}

.contacts a, .footer-nav a {
  padding: 1em;
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.footer ul li {
  position: relative;
}

.footer ul li:hover {
  transition: .5s;
  background-color: rgba(182, 181, 181, 0.8);
}

.footer ul li:active {
  transition: .1s;
  top: .1em;
  left: .1em;
  box-shadow: -2px -2px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(128, 128, 128, 0.829);
}

.footer ul li a{
  display: flex;
}

.footer img {
  margin-right: 5px;
}
/*-------------------------------------------*/

