.gallery{
  width: 570px;
  height: 490px;
}

.gallery-box {
  display: flex;
  flex-direction: column;
  margin-top: 60px ;
  width: 570px;
  align-items: center;
}

.full-image-container {
  display: flex;
  margin: auto;
  width: 540px;
  height: 370px;
}

.full-image {
  margin: auto;
}

.sliders {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  width: inherit;
  position: absolute;
  top: 50%;
} 

.left-slider, .rigth-slider {
  width: 25px;
  height: 25px;
}

.left-slider, .rigth-slider:hover {
  cursor:pointer;
}

.thumbnail{
  height: 110px;
  filter: blur(2px);
  cursor:pointer;
} 
  .active {
  border: 2px solid #000;
  filter: blur(0px);
  transition: 0.1s;
}
