.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 570px;
  height: 470px;
  align-items: center;
  margin-top: 15px;
}

.photo-previews-container {
  display: flex;
  list-style-type: none;
  margin: 0;
  width: 550px;
  padding: 0;
  justify-content: space-around;
  margin-bottom: 5px;
}

.full-photo {
  margin-bottom: 5px;
}

.full-photo img {
  display: block;
}

.photo-preview {
  padding: 0;
  border: 0;
  border-radius: 50px;
  background: none;
}

.photo-preview img {
  display: block;
  object-fit: cover;
  width: 130px;
  height: 75px;
}

.photo-preview:hover,
.photo-preview:focus {
  opacity: 0.7;
}





.gallery-box {
  width: 570px;
  height: 490px;
  
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px ;
  width: 570px;
  align-items: center;
}

.full-image-container {
  display: flex;
  margin: auto;
  width: 540px;
  height: 370px;
}

.full-image {
  margin: auto;
}


.sliders {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  width: inherit;
  position: absolute;
  top: 50%;
} 



.left-slider, .rigth-slider {
  width: 25px;
  height: 25px;
}

.left-slider, .rigth-slider:hover {
  cursor:pointer;
}


.mini {
  height: 110px;
  filter: blur(2px);
  cursor:pointer;
} 
  .active {
  border: 2px solid #000;
  filter: blur(0px);
  transition: 0.1s;
}
